.bruh {
	background-color: #f2e9e4;
	height:600px;

}



.titre {
	font-size: 150px;
	padding-top:200px;
}

.entete {
	background-color: #f6e58d;
	height:50px;
}


.communaute {
	background-color: #f2e9e4;
}

.formulairegroupe {
	width: 20%;
	height:20%;
}

.gros {
	background-color: red;
}

.stylelien {
	text-decoration: none;
	color:black;
}



.barre {
	background-color: #22223B;
}

/*-------------------- Pour pagecommunaute*/

.descriptioncommu {
	height:80%;
	background-color: #FAE5D3;
	font-size:25px;
}

.pagecommu {

	font-size:100px;
}

.nomcommu {
	size:50%;
	background-color: #FCDBBF;
}

.imagecommu {
	max-width: auto;
	height: auto;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#photos {
	/* Prevent vertical gaps */
	line-height: 0;
	
	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           0px;
 }


/* ----------- Entete ----------------*/

.bgYellow {
	background-color: #f6e58d;
}


/*Pour les boutons ronds*/
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
/* Pour avoir l'effet hover sur le text */
.hText:hover{
	background-color: #EFEEEE;
}



/* ----------- Footer ----------------*/
.LinkFooter{
	color: white;
}

.hLinkFooter:hover{
	color : #A7A7A7;
}




/*Pour afficher photo profil*/

.imageronde {
	width:200px;
   clip-path:ellipse(50% 50%);
}


.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}


