.bruh {
	background-color: #f2e9e4;
	height:600px;

}



.titre {
	font-size: 150px;
	padding-top:200px;
}

.entete {
	background-color: #f6e58d;
	height:50px;
}


.communaute {
	background-color: #f2e9e4;
}

.formulairegroupe {
	width: 20%;
	height:20%;
}

.gros {
	background-color: red;
}

.stylelien {
	text-decoration: none;
	color:black;
}



.barre {
	background-color: #22223B;
}

/*-------------------- Pour pagecommunaute*/

.descriptioncommu {
	height:80%;
	/*background-color: #FAE5D3;*/
	background-color: white;
	font-size:25px;
}

.pagecommu {

	font-size:100px;
}

.nomcommu {
	size:50%;
	background-color: #FCDBBF;
}

.imagecommu {
	max-width: auto;
	height: auto;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#photos {
	/* Prevent vertical gaps */
	line-height: 0;
	
	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           0px;
 }


/* ----------- Entete ----------------*/

.bgYellow {
	background-color: #f6e58d;
}


/*Pour les boutons ronds*/
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
/* Pour avoir l'effet hover sur le text */
.hText:hover{
	background-color: #EFEEEE;
}



/* ----------- Footer ----------------*/
.LinkFooter{
	color: white;
}

.hLinkFooter:hover{
	color : #A7A7A7;
}




/*Pour afficher photo profil*/

.imageronde {
	width:200px;
   clip-path:ellipse(50% 50%);
}


.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}



/*Affichage membre admin*/

.global
{
    width:100%;
}


.global .gauche {
    float:left;
    width:60%;
}
.global .droite {
    margin-left:60%   
}
/*_________________________ Affichage centre photo ________________________*/
/* Accueil commu */
div.center-cropped {
	width: auto;
	height: auto;
	max-height: 290px;
	overflow:hidden;
}
div.center-cropped img {
	height: 100%;
	min-width: 100%;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
}

/*_________________________ Affichage en cascade des photos comu / post ________________________*/


@media (min-width: 768px) {  
	.card-columns {column-count: 4;}
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
   .card-columns {column-count: 4;}
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
	 .card-columns {column-count: 5;} 
  }

  .card-columns .card{margin-bottom:.75rem}@media (min-width:576px){
	.card-columns{-webkit-column-count:3;-moz-column-count:4;column-count:4;-webkit-column-gap:1.25rem;-moz-column-gap:1.25rem;column-gap:1.25rem}
	.card-columns .card{display:inline-block;width:100%}
}

/*_________________________ Affichage des boutons ________________________*/

.boutonnew {position:absolute;
/*	color:white;*/
	justify-content: flex-end;
	/*flex-flow: row-reverse**/
	z-index:1;
	/*position : absolute;*/
    border:none;
    margin-top: 20px;
    margin-left:130px;
    display: inline-block;

}

.boutonnbpost {
position:absolute;
	z-index:1;
    margin-top: 15px;
    margin-left:230px;


}

.roundedImageentete{
    overflow:hidden;
    -webkit-border-radius:20px;
    -moz-border-radius:50px;
    border-radius:30px;
    width:60px;
    height:50px;
    margin-right:10px;
}